{% extends "base.html" %}

{% block main %}
<script type="text/javascript">
  console.log(app, currentLocation);
</script>
    <h3>От автора:</h3>
    <p>
        Воспринимайте это скорее как книгу, а не как игру. Я постараюсь сделать ее интересной, нелинейной и увлекательной. Однако, постараюсь не превращать в полноценную игру, остави текст текстом.
    </p>
    <p>
        Сохранение состояния происходит при переходе в другую локацию.
    </p>
    <p>
        Единственным элементом управления будут ссылки, взывающие появление нового блока текста. Вроде {{show('one', 'такой')}}.
    </p>
{% endblock %}

{% block one %}
    <p>
        Ну а теперь пора {{link('start', 'начинать')}}.
    </p>
{% endblock %}
