{% extends "data/base.html" %}

{% block main %}
    {{ achieve('init') }}
    <p>
        {{show('landscape', 'За окном')}} довольно комфортная температура, но жутко душно, наверное будет гроза. Потому, вероятно, так {{show('pain', 'болит голова')}}.<br>
        Однако, дело &mdash; есть дело, и хоть из машины вылезать абсолютно не хочется, долг зовет.
    </p>
    <p>
        {{show('outside', 'Выйти из машины.')}}
    </p>
    <p>
        {{show('forever', 'Остаться в машине навсегда.')}}
    </p>
{% endblock %}
{% block pain %}
    <p>
        Можно {{show('pills', 'поискать аспирин')}} в бардачке, но не факт, что он там есть.
    </p>
{% endblock %}
{% block pills %}
    <p>
        А, нет, смотри-ка, есть. Правда, в баночке без этикетки и прочих опозновательных знаков, так что это может быть мета-амфетамин.
        Или, забытый Сэмом нейропазин. Или крысиный яд. Удивительные вещи порой можно найти в собственной машине.
    </p>
    <p>
        {{show('cured', 'Выпить таблетки.')}}
    </p>
    <p>
        {{show('not_cured', 'Не пить таблетки, мало ли.')}}
    </p>

{% endblock %}

{% block cured %}
{{ set('player', 'drugs', True) }}
{{ disable('not_cured') }}
  <p>
    Ты жадно глотаешь две таблетки, запивая теплой минералкой, тоже чудом отыскавшейся под сиденьем.<br>
    Теперь либо пройдет головная боль, либо ты получишь занятные галлюцинации. Ну или умрешь, тут уж как повезет.
  </p>
{% endblock %}
{% block not_cured %}
{{ set('player', 'drugs', False) }}
{{ disable('cured') }}
  <p>
    Голова продолжает болеть, мучительно ноя при неловких движениях. Зато, возможно, ты спас себя от смерти. Или счастья. А может это было слабительное...
  </p>
{% endblock %}

{% block forever %}
    {{ set('player', 'lazy_ass', True) }}
    <p>
        Увы, надо {{show('outside', 'идти')}}. Работа сама себя не сделает, даже если по утрам так и кажется.
    </p>
{% endblock %}

{% block landscape %}
    <p>За окном  улица в хорошем районе и ультрасовременное высотное здание, где произошло что-то нехорошее. На хорошее тебя обычно не зовут. В рабочее время, по крайней мере.</p>
{% endblock %}

{% block outside %}
    {{ disable('pain') }}
    {{ disable('forever') }}
    <p>
      Ты открываешь дверь и выбираешься {{ link('toStreet', 'на улицу') }}.
    </p>
{% endblock %}
