{% extends "data/base.html" %}

{% block main %}
    {{ checkpoint('street_1') }}
    <p>
      В общем, куда идти совершенно очевидно: на тротуаре перед зданием столпилась {{show('people', 'куча народу')}}.
      Вроде как, какая-то шишка, толи вывалился, толи выпрыгнул из окна сорок-какого-то этажа.
      Зрелище вряд ли особо приятное, да и не особо сдержательное: тело должны были накрыть и как можно скорее увезти.
      А проталкиваться сквозь зевак &mdash; радость ниже среднего.
    </p>
    <p>
      {{show('near_building', 'Идти к зданию.')}}
    </p>
{% endblock %}

{%block people%}
  {{set('player', 'about_sam', True)}}
  <p>
    Помимо кучи зевак, видно еще и несколько полицейских в форме, видимо отгоняющих толпу от работающих судмедэкспертов.<br>
    Где-то там должен быть Сэм. Хорошо бы сначала расспросить его, перед тем как подниматься наверх.
  </p>
{% endblock %}
{%block near_building%}
  {{disable('people')}}
  <p>
    Здание очень "модное". Скорее всего метр здешних квартир или офисов стоит как целый этаж в здании, где обитаешь ты.
    Свежепочивший же имел здесь квартиру. Его имя тебе что-то напомнило, но твердо вспомнить, что это за птица (сорри, за мерзкий каломбур), тебе не удалось.
  </p>
  <p>
    {{show('to_building', 'Чего делать, топаем внутрь.')}}
  </p>
  {% if player.about_sam %}
  <p>
    {{show('for_sam', 'Поискать Сэма, коли он тут ошивается.')}}
  </p>
  {% endif %}
{% endblock %}
{%block for_sam%}
{% endblock %}
{%block to_building%}
  {{link('toBuilding', 'Войти')}}
{% endblock %}
