<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mblode/marx/master/css/marx.min.css">
    <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <style>
        body {
            background-color: #eee;
            padding: 16px;
        }

        .hide {
            display: none;
        }
        a {
            transition-property: color;
            transition-duration: .3s;
            font-weight: bold;
        }

        .visited {
            color: teal;
        }
        .disabled {
            color: gray;
        }
    </style>
</head>

<body>
    <div id="visible">
        {% block main %} {% endblock %}
    </div>
</body>
</html>
